@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto Mono";
  margin: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
}

h1 {
  font-family: "Roboto Slab", serif;
  text-align: center;
}
/* .wholebody {
  position: fixed;
  margin: auto;
  width: 100vw;
  height: 100vh;
} */
.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#navbar {
  display: flex;
  justify-content: space-around;
}
.nav {
  cursor: pointer;
  transition: background-color 0.6s ease;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.active,
.nav:hover {
  background-color: #717171;
}
header {
  color: white;
  line-height: 1em;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
}

/* boxes in the viewport that fade */

.text {
  position: absolute;
  overflow: hidden;
  opacity: 0.2;
  transition: 0.8s ease;
  border-radius: 2%;
  padding-left: 10px;
  padding-right: 10px;
}
.text:hover {
  cursor: pointer;
  transition: 0.6s ease;
  opacity: 1;
  background: #717171;
  background-color: rgb(113, 113, 113);
  opacity: 0.8;
}

/* position and size of the boxes in viewport */

#Goals {
  position: absolute;
  top: 20px;
  left: 50px;
  right: 100px;
  word-wrap: normal;
  width: 25vw;
}
#MyJourney {
  position: absolute;
  bottom: 60px;
  right: 100px;
  word-wrap: normal;
  width: 40vw;
}
#Education {
  position: absolute;
  top: 45vh;
  left: 25vw;
  word-wrap: normal;
  width: 70vw;
}
#Experience {
  position: absolute;
  top: 20px;
  right: 50px;
  word-wrap: normal;
  width: 70vw;
}

/* text stylings */

h3 sup {
  font-size: 10px;
  font-style: italic;
}
ul li {
  font-size: 12px;
  color: white;
}
p {
  font-size: 12px;
  color: white;
}
h2 {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: white;
}
/* black bars behind titles in section viewport */

#Goals > h3 {
  color: #f5f5f5;
  background-color: black;
  width: 100%;
  padding-left: 5px;
  word-wrap: normal;
}
#Education > h3 {
  color: #f5f5f5;
  background-color: black;
  width: 100%;
  padding-left: 5px;
  word-wrap: normal;
}
#Experience > h3 {
  color: #f5f5f5;
  background-color: black;
  width: 100%;
  padding-left: 5px;
}
#MyJourney > h3 {
  color: #f5f5f5;
  background-color: black;
  width: 100%;
  padding-left: 5px;
  word-wrap: normal;
}

/* footer */

footer {
  bottom: 0;
  width: 100%;
  position: relative;
  text-align: center;
  background-color: black;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  color: white;
}
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
