@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab&display=swap');

body {
  font-family: 'Roboto Mono';
  margin: 0%;}

  img {vertical-align: middle;}

  .wholebody {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: fixed;
  top: 10%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
        }
    .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8); 
    }
    .nav {
      cursor: pointer;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active, .nav:hover {
      background-color: #717171;
    }
      header {
        color: #D4E157;
       }
    h3 sup{
        font-size: 10px;
        font-style: italic;
      }
      header p{
        text-align:center
      }
      ul li{ 
        font-size: 12px
      }
      h1 {
        font-family:'Roboto Slab', serif;
        text-align: center;
        background-color: black;
                }
      h2 {
        font-family: 'Roboto Slab', serif;
        text-align: center;
        color: black;
      }
      .jobtitle{
        background-color: black;
             }    
         h3{
          color: #F5F5F5;
         }
      