@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab&display=swap');

* {box-sizing:border-box}

body {
  font-family: 'Roboto Mono';
  margin: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
}
h1 {
  font-family:'Roboto Slab', serif;
  text-align: center;
}
.wholebody {
  position: fixed;
  margin: auto;
  overflow: hidden;
  width: 1000px;
  height: 500px;
}

.prev, .next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
        }
    .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8); 
    }

    #navbar {
      display: flex;
      justify-content: space-around;
  
    }
    .nav {
      cursor: pointer;
      transition: background-color 0.6s ease;
      display:flex;
      justify-content:space-around;
      width: 100%;
    }
    .active, .nav:hover {
      background-color: #717171;

    }
      header {
        color: white;
        line-height: 1em;
      }
         .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }
        
        @-webkit-keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }
        
        @keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }
        section {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
        img{
          width:100%;
          height:100%;
        }
        .text  {  
        position: absolute;
        top: 20px;
        bottom: 50px;
        right: 20px;
        padding-left: 5px;
        padding-right: 20px;
        overflow: hidden;
        }

      h3 sup{
        font-size: 10px;
        font-style: italic;
        
      }
      ul li{ 
        font-size: 12px;
        color: white;
      }
      h2 {
        font-family: 'Roboto Slab', serif;
        text-align: center;
        color: white;
      }
      .jobtitle{
        background-color: black;
             }    
         h3{
          color: #F5F5F5;
          padding-left: 25px;
        padding-right: 20px;
        background-color: black;
         }
footer{
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  background-color: black;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  color: white;
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}