@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab&display=swap');

      body {
        max-width: 990px;
        margin: auto;
        background-color: #546E7A;
        font-family: 'Roboto Mono', Helvetica, sans-serif;
        line-height: 80%;
        color: #F5F5F5;
      }
      header {
        padding: .5%;
        color: #D4E157;
      }
      h3 sup{
        font-size: 10px;
        text-align: right;
        font-style: italic;     
      }
      header p{
        text-align:center
      }
      ul li{ 
        font-size: 12px
      }
      h1 {
        font-family:'Roboto Slab', serif;
        opacity: .8;
        text-align: center;
                }
       p{
            text-align:center
          }
      h2 {
        font-family: 'Roboto Slab', serif;
        text-align: center;
        color: #546E7A;
      }
      
      